<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Se presentó un error inesperado.</h1>
        <h2>Por favor, contacte con el administrador del sistema.</h2>
    </hgroup>
</body>
</html>
