@model KN_ProyectoClase.Models.UsuarioModel

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="row justify-content-center" style="margin-top:100px">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Recuperar Contraseña</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control form-control-user", @placeholder = "Correo" })
                                </div>
                                <a href="login.html" class="btn btn-danger btn-user btn-block">
                                    Procesar
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("RegistrarCuenta","Principal")">Crear una cuenta!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("IniciarSesion","Principal")">Iniciar Sesión!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Inicio","Principal")">Pantalla Principal!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>